<!--The content below is only a placeholder and can be replaced.-->
<main class="main">
  <h1>
    Projeto Git Api
  </h1>

  <p class="sub">Este repositório é um projeto público de Git Api da conta gaidenxx do github, acessem o link para ter acesso ao projeto todo.
    <br>
    <a href="https://github.com/gaidenxx/git-api" target="_blank"> https://github.com/gaidenxx/git-api </a>
  </p>

  <app-issues></app-issues>
</main>


<!-- <router-outlet></router-outlet> -->
