main.main{
    position: relative;
    max-width: 1400px;
    margin: auto;
}

h1{
    position: relative;
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
}

.sub{
    font-size: 16px;
}