ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.issuesArea li {
  list-style-type: none;
}

li .issuesContent {
  background: #f7f7f7;
  border: 1px solid #f1eeee;
  margin: 1rem 0;
  padding: 15px;
  border-radius: 5px;
}

label {
  position: relative;
  display: block;
}

.issuesHeader {
  margin-bottom: 20px;
}

.issuesTitle {
  display: inline-block;
  width: 90%;
  font-size: 18px;
  font-weight: 600;
}

.issuesComments {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
}

.btnAction {
  display: inline-block;
  float: right;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #f1eeee;
  margin-left: 5px;
  cursor: default;
}

.btnAction:hover {
  background: #f1eeee;
  transition: 200ms ease-in-out
}

.btnAction.link {
  cursor: pointer;
}

.btnAction.link a {
  color: #000 !important;
  text-decoration: none !important;
}

.desc {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.issuesContent p {
  font-size: 16px;
  margin: 0;
}

.formCel{
    display: block;
    margin: 10px 0;
}

.formIssue input,
.formIssue textarea {
  display: inline-block;
  position: relative;
  width: calc(98% - 182px);
  height: 30px;
  padding: 5px 1%;
  font-size: 1rem;
  line-height: 25px;
  color: #000;
  background-color: #fff;
  border: 1px solid #f1eeee;
  border-radius: 0.5em;
  resize: none;
}

.formIssue label {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  width: 180px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
}

.formIssue textarea {
  height: 100px;
}

.formIssue label[name="desc"] {
  vertical-align: top;
}

.alertNotification{
    display: inline-block;
    position: relative;
    width: calc(98% - 182px);
    margin-left: 180px;
    height: 26px;
    padding: 5px 1%;
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
    color: #fff;
    background-color: #ec9400;
    border: 2px solid #e08e04;
    border-radius: 0.5em;
    margin-top: 5px;
}

#issueSubmit{
    display: block;
    width: 22%;
    min-width: 200px;
    background-color: #7d7bfb;
    border: none;
    border-radius: 0.5em;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    margin: 20px auto;
    transition: 0.5ms ease-in-out;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(224, 188, 224, 1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(224, 188, 224, 1);
    box-shadow: 0px 1px 4px 0px rgb(197, 191, 197);
}

#issueSubmit:hover{
    background-color: #6260f5;
}