<h2>Criar Issue</h2>
<form name="form" (ngSubmit)="f.form.valid && sendIssue()" #f="ngForm" class="formIssue" novalidate>
  <div class="formCel">
    <label name="title">Título</label>
    <input type="text" placeholder="Título da Issue" [(ngModel)]="issueInfo.title" #titleissue="ngModel" name="titleissue" required>
    <div class="alertNotification" *ngIf="f.submitted && titleissue.invalid">Preencha o nome da tarefa.</div>
    <div class="alertNotification" *ngIf="!titleissue.valid && titleissue.touched && !f.submitted">É obrigatorio o título da tarefa.</div>
  </div>
  <div class="formCel">
    <label name="desc">Descrição</label>
    <textarea rows="6" cols="50" placeholder="Descrição da Issue" [(ngModel)]="issueInfo.body" name="body"></textarea>
  </div>
  <div class="formCel">
    <label name="assignee">Responsável</label>
    <input type="text" value="" placeholder="Pessoa responsável pela execuçao da tarefa" [(ngModel)]="issueInfo.assignee" name="assignee">
  </div>
  <br>
  <button id="issueSubmit" type="submit" value="submit_register"> Criar Tarefa </button>
</form>

<h2>Lista de Issues</h2>
<ul class="issuesArea">
  <li *ngFor="let issueData of issuesArray">
    <div class="issuesContent">
      <div class="issuesHeader">
        <label class="issuesTitle">{{ issueData.title }} - #{{ issueData.number }}</label>
        <div class="btnAction link">
          <a href='{{ issueData.html_url }}' target="_blank">link</a>
        </div>
        <div class="btnAction">{{ issueData.author_association }}</div>
        <br>
        <span class="issuesComments"> {{ issueData.comments }} comments</span>
      </div>

      <label class="desc">Descrição</label>
      <p> {{ issueData.body }} </p>
    </div>
  </li>
</ul>
